.footer {
  &__copyright {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: $text_primary;
    line-height: normal;
    letter-spacing: 1.82px;
    margin-top: 72px;
    &::before {
      content: '';
      margin-bottom: 48px;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 2px;
      width: 100%;
      background-image: url('~@images/footer-bottom.svg');
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  &__brand {
    img {
      width: 180px;
    }
  }
  &__column {
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      background-image: url('~@images/footer-border.svg');
      border-right: 10px solid transparent;
      background-clip: padding-box;
      background-size: contain;
      padding-right: 30px;
      background-repeat: no-repeat;
      background-position: right;
    }

    &:nth-of-type(4) {
      margin-left: 30px;
    }

    &--wrapper {
      display: flex;
      margin-top: 37px;
      margin-bottom: 57px;
      gap: 20px;
    }

    .uppercase {
      color: $text_primary;
    }
    &--menu {
      margin-left: 30px;
      li {
        margin-bottom: 15px;
        a {
          color: $text_primary;
          font-family: 'Montserrat';
          text-transform: uppercase;
          font-size: 16px;
          font-weight: $bold;
        }
      }
    }
  }
}
